body{
    background-color: blue;
    color: rgb(255, 255, 255);
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
}
 header{
    border-bottom: solid  2px rgb(32, 2, 2);
 padding: 20px ;
  font-size: 32px;
  color: black; 
}